* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
/* Body  */
body {
    background-color: #c2ccab;
}
/* Header and navigation  */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}
/*Header - Horeison - various colors   */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Separating the letters to alternate colors  */
.seo {
    color: #d9dcd6;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*  takes out the bullet points */

/*  displaying the nav items */
header nav ul li {
    display: inline-block;
    margin-left: 25px; 
    list-style-type: none;
}
/* style for Nav links   */
a {
    color: #ffffff;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}
/* all paragraphs  */
p {
    font-size: 16px;
}
/* Over image styling  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("Develop/assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* search engine and right boxes styling  */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Lead Generation  */
.float-right {
    float: right;
    margin-left: 25px;
}
/*  Search engine box */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    
}
/*  Lead Generation section */
.benefits {
    
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Styling for Lead Generation section   */
.benefit {
    margin-bottom: 5%;
    color: #ffffff;
}
/* Styling for H3 - consolidated tags  */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Styling for Lead Generation images combined tags  */


.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* Styling for Search Optimization section and the following 3 flex boxes*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    display:inline-block;
    width:auto;
}


/* Styling for SEO images next  */
 img {
    max-height: 200px;
}
/* Styling for h2 headers */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/* Styling for footer  */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
/* Styling for small screens */
@media screen and (max-width: 768px) {
    body, div, .content, .benefits, .social, .online {
        display:inline-block;
      flex-direction: row;
    
    }
     h2, h3{
        font-size:larger;
     }
      p{
        font-size: 0.95rem;
        
    }
    img{
        height:60%;
        width: 50%;
    }
    .benefits{
        width:50%;
        height:50%;
        float:left;
        margin-left: 3%;
        font-size: 12px;
      
 
    }
    .benefit-lead h3{
        font-size:large

    }
    .benefit-lead h3{
        font-size:large

    }.benefit-cost h3 {
        font-size: large;
    }
    .benefit-brand h3{
        font-size: large;
    }
}